<div class="main-content-inner">
  <!-- main-content-wrap -->
  <div class="main-content-wrap">
    <div class="flex items-center flex-wrap justify-between gap20 mb-30">
      <h3><%= t("admin.clients.title") %></h3>
      <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
        <li>
          <%= link_to admin_dashboard_path do %><div class="text-tiny"><%= t("admin.navigation.dashboard") %></div><% end %> 
        </li>
        <li>
          <i class="icon-chevron-right"></i>
        </li>
        <li>
          <%= link_to admin_clients_path do %><div class="text-tiny"><%= t("admin.navigation.clients") %></div><% end %>
        </li>
      </ul>
    </div>
    <!-- all-user -->
    <div class="wg-box">
      <div class="flex items-center justify-between gap10 flex-wrap">
        <div class="wg-filter flex-grow">
          <form method="get" class="w-auto">
            <%= hidden_field_tag :query, @query if @query.present? %>
            <div class="show">
              <div class="text-tiny"><%= t("views.pagination.showing") %></div>
              <div class="select">
                <select name="per" onchange="this.form.submit()">
                  <option value="10" <%= 'selected' if params[:per].to_s == '10' %>>10</option>
                  <option value="20" <%= 'selected' if params[:per].to_s == '20' %>>20</option>
                  <option value="30" <%= 'selected' if params[:per].to_s == '30' %>>30</option>
                </select>
              </div>
              <div class="text-tiny"><%= t("views.pagination.entries") %></div>
            </div>
          </form>
          <form method="get" class="form-search">
            <%= hidden_field_tag :per, params[:per] if params[:per].present? %>
            <fieldset class="name">
              <input type="text" placeholder="<%= t("admin.clients.search_placeholder") %>" name="query" tabindex="2" value="<%= @query %>">
            </fieldset>
            <div class="button-submit">
              <button class="" type="submit"><i class="icon-search"></i></button>
            </div>
          </form>
        </div>
      </div>
      <div class="wg-table table-all-user">
        <ul class="table-title flex gap8 mb-8">
          <li>
            <div class="body-title"><%= t("admin.clients.client") %></div>
          </li>
          <li>
            <div class="body-title"><%= t("admin.clients.phone") %></div>
          </li>
          <li>
            <div class="body-title"><%= t("admin.clients.birthdate") %></div>
          </li>
          <li>
            <div class="body-title"><%= t("admin.clients.email") %></div>
          </li>
          <li>
            <div class="body-title"><%= t("admin.common.action") %></div>
          </li>
        </ul>
        <ul class="flex flex-column">
          <% if @clients.any? %>
          <% @clients.each do |client| %>
            <li class="wg-product item-row">
              <div class="name flex-grow">
                <div class="image">
                  <%= image_tag "products/product-1.jpg", alt: "" %>
                </div>
                <div>
                  <div class="title">
                    <%= link_to client.name, admin_client_path(client), class: "body-title-2" %>
                  </div>
                </div>
              </div>
              <div class="body-text"><%= client.phone %></div>
              <div class="body-text"><%= client.birthdate %></div>
              <div class="body-text"><%= client.email %></div>
              <div class="list-icon-function">
                <div class="item eye">
                  <%= link_to admin_client_path(client) do %>
                    <i class="icon-eye"></i>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
          <% else %>
            <li class="wg-product item-row">
              <div class="body-text"><%= t("admin.clients.empty") %></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="divider"></div>
      <div class="flex items-center justify-between flex-wrap gap10">
        <div class="text-tiny"><%= t("views.pagination.showing_count", current: @clients.size, total: @clients.total_count) %></div>
        <ul class="wg-pagination">
          <li class="<%= 'disabled' unless @clients.prev_page %>">
            <% if @clients.prev_page %>
              <%= link_to url_for(page: @clients.prev_page, per: params[:per], query: @query.presence), class: "" do %>
                <i class="icon-chevron-left"></i>
              <% end %>
            <% else %>
              <span><i class="icon-chevron-left"></i></span>
            <% end %>
          </li>

          <% (1..@clients.total_pages).each do |page| %>
            <li class="<%= 'active' if page == @clients.current_page %>">
              <% if page == @clients.current_page %>
                <a class="disabled">
                  <%= page %><!-- Ou qualquer ícone que quiser -->
                </a>
              <% else %>
                <%= link_to page, url_for(page: page, per: params[:per], query: @query.presence) %>
              <% end %>
            </li>
          <% end %>

          <li class="<%= 'disabled' unless @clients.next_page %>">
            <% if @clients.next_page %>
              <%= link_to url_for(page: @clients.next_page, per: params[:per], query: @query.presence), class: "" do %>
                <i class="icon-chevron-right"></i>
              <% end %>
            <% else %>
              <span><i class="icon-chevron-right"></i></span>
            <% end %>
          </li>
          </ul>
      </div>
    </div>
    <!-- /all-user -->
  </div>
  <!-- /main-content-wrap -->
</div>
