<div class="main-content-inner">
  <!-- main-content-wrap -->
  <div class="main-content-wrap">
    <div class="flex items-center flex-wrap justify-between gap20 mb-30">
      <h3><%= t("admin.categories.edit") %></h3>
      <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
        <li>
          <%= link_to admin_dashboard_path do %><div class="text-tiny"><%= t("admin.navigation.dashboard") %></div><% end %> 
        </li>
        <li>
          <i class="icon-chevron-right"></i>
        </li>
        <li>
          <%= link_to admin_categories_path do %><div class="text-tiny"><%= t("admin.navigation.categories") %></div><% end %>
        </li>
        <li>
          <i class="icon-chevron-right"></i>
        </li>
        <li>
          <div class="text-tiny"><%= t("admin.categories.information") %></div>
        </li>
      </ul>
    </div>
    <!-- edit-category -->
    <%= render 'form' %>
    <!-- /edit-category -->
  </div>
  <!-- /main-content-wrap -->
</div>
