<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : storefront_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "storefront/storefront", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag "storefront/product-placeholder.jpg" %>
  </head>
  <body class="storefront-body"
        data-controller="modal cart"
        data-modal-open-value="<%= params[:login].present? %>"
        data-action="keydown.esc@window->modal#close keydown.esc@window->cart#close">
    <%= render "storefront/announcement" %>
    <%= render "storefront/header" %>
    <%= render "layouts/flash" %>
    <main><%= yield %></main>
    <%= render "storefront/footer" %>
    <%= render "storefront/cart_drawer" %>
    <%= render "storefront/login_modal" unless current_user %>
  </body>
</html>
